<div class="homeHeroChart">
    <div class="header homeHeroChartHeader">
        <div>
            <h2 class="title">Quarterly Performance</h2>
            <div class="refresh">
                <span class="timestamp" dir="ltr">As of Today 08.19</span>
                <button class="slds-button slds-button--icon-border uiButton forceIconDeprecated">
                </button>
            </div>
        </div>
        <ul class="metricRow">
            <li class="metric">
                <span class="metricLabel">Closed</span>
                <span class="metricAmount uiOutputText">€234,111</span>
            </li>
            <li class="metric">
                <span class="metricLabel">Open(>70%)</span>
                <span class="metricAmount uiOutputText">€162,000</span>
            </li>
            <li class="metric">
                <span class="metricLabel">Goal</span>
                <span class="metricAmount uiOutputText">€100,000</span>
            </li>
        </ul>
    </div>
    <h1></h1>
    <chart width="800" height="530" margin="45" data="data"></chart>
</div>